.navbar-gradient {
  background: linear-gradient(90deg, #ffffff 0%, #35742f 100%);
}


.bar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.bar a:hover {
  text-decoration: underline;
}
